.my-family {
    display: flex;
    background: rgb(251,243,211);
    background: linear-gradient(0deg, rgba(251,243,211,0.8702074579831933) 0%, rgba(130,151,118,1) 100%);
}

.family-photo {
    width: 600px;
    margin-top: 15%;
    margin-left: 30%;
}

.family-text {
    width: 30%;
    height: fit-content;
    margin-top: 15%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
    padding: 30px 50px 30px 50px;
    background-color: rgba(130, 151, 118, 0.9);
}