.help {
    display: flex;
    height: 100vh;
    background: rgb(251,243,211);
    background: linear-gradient(180deg, rgba(251,243,211,0.8702074579831933) 0%, rgba(130,151,118,1) 100%);
}

.help-photo {
    width: 500px;
    margin-top: 10%;
    margin-left: 30%;
}

.help-text {
    width: 30%;
    height: fit-content;
    margin-top: 8%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
    padding: 30px 50px 30px 50px;
    background-color: rgba(130, 151, 118, 0.9);
}

.button {
    margin-top: 3%;
    background: rgb(251,243,211);
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    outline: 0;
    border: 1px solid black;
    border-radius: 100px;
}
