.header {
    color: #fbf3d3;
    overflow: auto;
    background: rgb(251,243,211);
    background: linear-gradient(180deg, rgba(251,243,211,0) 0%, rgba(251,243,211,0.87) 100%);
}

.header-text-bold {
    font-size: 100px;
    font-weight: 600;
}

.header-text-light {
    font-size: 100px;
    font-weight: 300;
}

.header-text {
    width: 50%;
    line-height: 100px;
    margin-left: 40%;
    margin-top: 15%;
    padding: 30px 50px 30px 50px;
    background-color: rgba(130, 151, 118, 0.9);
}

.social-media-icon {
    font-size: 30px;
    margin-right: 30px;
    padding: 15px;
    border: 3px solid #fbf3d3;
    background-color: #fbf3d3;
    border-radius: 50%;
    color: rgba(69, 85, 57, 0.9);
}

.social-media-icons {
    margin-top: 30px;
}

.arrow-down {
    font-size: 80px;
    margin-left: 90%;
    opacity: 0;
    animation: backInDown 1s forwards;
    animation-delay: 1s;
}