.my-story {
    height: 100vh;
    display: flex;
    background-color: rgba(130, 151, 118, 0.9);
}

.my-story-text {
    width: 30%;
    margin-top: 15%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
}

.section-title {
    font-size: 50px;
    font-weight: 300;
}

.my-story-video {
    margin-top: 10%;
    margin-left: 15%;
}
