.my-story {
    display: flex;
    background: rgb(251,243,211);
    background: linear-gradient(180deg, rgba(251,243,211,0.8702074579831933) 0%, rgba(130,151,118,1) 100%);
}

.my-story-text {
    width: 30%;
    margin-top: 15%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
}

.section-title {
    font-size: 50px;
    font-weight: 300;
}

.my-story-video {
    margin-top: 10%;
    margin-left: 15%;
}
