.thank-you {
    display: flex;
    background: rgb(251,243,211);
    background: linear-gradient(0deg, rgba(251,243,211,0.8702074579831933) 0%, rgba(130,151,118,1) 100%);
    @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
    }
}

.thanks-photo {
    width: 670px;
    margin-top: 3%;
    margin-left: 20%;
    @media only screen and (max-width: 600px) {
        width: 300px;
        height: 400px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 30%;
    }
}

.section-title-2 {
    font-size: 100px;
    font-weight: 300;
    @media only screen and (max-width: 600px) {
        font-size: 50px;
    }
}

.thanks-text {
    width: 30%;
    height: fit-content;
    margin-top: 15%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
    padding: 30px 50px 30px 50px;
    background-color: rgba(130, 151, 118, 0.9);
    @media only screen and (max-width: 600px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        margin-top: 30%;
        background-color: transparent;
    }
}

.follow-container {
    display: flex;
    align-items: flex-end;
    margin-top: 10%;
}

.follow-text {
    font-size: 30px;
    font-weight: 500;
    width: 60%;
    @media only screen and (max-width: 600px) {
        width: 50%;
        font-size: 20px;
    }
}

.social-media-icons-2 {
    padding-bottom: 15px;
    padding-left: 15px;
}

.social-media-icon-2 {
    font-size: 20px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    border: 3px solid #000000;
    background-color: #000000;
    border-radius: 50%;
    color: rgb(251,243,211);
    @media only screen and (max-width: 600px) {
        margin-left: 5px;
        font-size: 15px;
    }
}