.my-work {
    display: flex;
    background: rgb(251,243,211);
    background: linear-gradient(0deg, rgba(251,243,211,0.8702074579831933) 0%, rgba(130,151,118,1) 100%);
    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.work-text {
    width: 30%;
    height: fit-content;
    margin-top: 15%;
    margin-left: 15%;
    text-align: justify;
    text-justify: inter-word;
    @media only screen and (max-width: 600px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        margin-top: 30%;
    }
}

.a-link {
    color: #000000;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.work-photo {
    width: 500px;
    margin-left: 10%;
    @media only screen and (max-width: 600px) {
        width: 300px;
    }
}

.work-photo-container {
    width: 50%;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}